.project_gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.project_gallery h4 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    margin-left: 70px;
}

.img_container {
    display: flex;
    gap: 40px;
    margin-left: 70px;
    justify-content: center;
    flex-wrap: wrap; 
}

.project-img {
    width: 340px;
    height: auto; 
    border-radius: 10px; 
}

.view_all_projects_btn {
    background: white;
    color: #ff6a00;
    width: 160px;
    height: 40px;
    font-weight: bolder;
    margin-top: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.view_all_projects_btn img {
    margin-left: 10px;
    margin-bottom: -4px;
}

/* For tablets  */
@media (max-width: 1024px) {
    .project_gallery h4 {
        font-size: 22px;
        margin-left: 20px;
    }

    .img_container {
        margin-left: 20px;
        gap: 20px;
    }

    .project-img {
        width: 250px; 
    }

    .view_all_projects_btn {
        width: 140px;
        height: 35px;
    }
}

/* For mobile devices  */
@media (max-width: 768px) {
    .project_gallery h4 {
        font-size: 20px;
        margin-left: 20px;
    }

    .img_container {
        gap: 15px;
        margin-left: 10px;
    }

    .project-img {
        width: 100%; 
        max-width: 320px; 
    }

    .view_all_projects_btn {
        width: 120px;
        height: 30px;
        font-size: 12px;
    }
}

/* For small devices  */
@media (max-width: 480px) {
    .project_gallery h4 {
        font-size: 33px;
        margin-left: 10px;
    }

    .img_container {
        gap: 22px;
        margin-left: 5px;
    }

    .project-img {
        width: 100%;
        max-width: 280px; 
    }

    .view_all_projects_btn {
        width: 166px;
        height: 47px;
        font-size: 15px;
    }
}
